* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}
.typed-text {
  color: var(--other-color);
  font-weight: bold;
  text-shadow: 1px 0 var(--text-color), 1.2px -0.5px 0 var(--text-color),
    1.4px -1px 0 var(--text-color), 1.6px -1.5px 0 var(--text-color),
    1.8px -2px 0 var(--text-color), 2px -2.5px 0 var(--text-color),
    2.2px -3px 0 var(--text-color), 2.4px -3.5px 0 var(--text-color),
    2.6px -4px 0 var(--text-color), 2.8px -4.5px 0 var(--text-color),
    3px -5px 0 var(--text-color), 5px -6px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px) {
  /* 3D Text Effect using multiple shadows */
  .typed-text {
    text-shadow: 1px 0 var(--text-3D), 1.2px -0.5px 0 var(--text-3D),
      1.4px -1px 0 var(--text-3D), 1.6px -1.5px 0 var(--text-3D),
      1.8px -2px 0 var(--text-3D), 2px -2.5px 0 var(--text-3D),
      3px -3px 0 rgba(0, 0, 0, 0.5);
  }
}
