:root {
  --primary: #002f30;
  --secondary: #002425;
  --button-color: rgb(0, 30, 60);
  --other-color: #d1e8e2;
  --text-color: #ffcb9a;
  --other-color-dark: #1fa564;
  --text-color-dark: #ffb46d;
  --footer-color: #2c3531;
  --gray-color: gray;
  --text-3D: #bf376c;
}
