.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.post-card {
  width: 50%;
  margin-top: 3.125rem;
  margin-left: 25%;
}

.hashtag {
  margin: 0 3px;
}
.reactions {
  width: 100%;
  align-content: space-between;
}

.create-post {
  width: 50%;
  margin-top: 3.125rem;
  margin-left: 25%;
}
@media screen and (max-width: 768px) {
  .post-card {
    margin: 20px 50px;
    min-width: 30rem;
  }
  .create-post {
    width: 80%;
    margin-top: 3.125rem;
    margin-left: 10%;
  }
}

/* Welcome message file style */
.welcome-message {
  margin: 10rem 0 2rem 0;
}

.loading-spinner {
  margin: 10rem 0 2rem 0;
}
