.list-div {
  flex: 2;
  display: flex;

  justify-content: flex-end;
  overflow: hidden;
  margin: 0.5%;
  margin-right: 2%;
}

.right-menu {
  display: flex;
  justify-content: center;
}

.navbar-list {
  list-style: none;
  /* Spacing between the menu items */
  margin: auto;
  padding: 0.25rem;
}

.navbar-anchor-tag {
  text-decoration: none;
  color: var(--text-color);

  font-size: 1rem;
  font-weight: bold;
}

.navbar-anchor-tag:hover {
  cursor: pointer;
  color: var(--other-color);
}
