.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px;
  scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
  display: none;
}
